
@media (min-width: 1200px) {
  .hero-content .inner {
    width: min(540px, 100%);
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero-content .inner {
    width: min(470px, 100%);
  }
}
@media (min-width: 992px) {
  .hero-content .inner {
    margin-left: auto;
  }

  .org-structure-tabs .control-panel-wrap {
    padding: 10px;
  }
  .org-structure-tabs .control-panel-wrap .dropdown-menu {
    grid-template-columns: 1fr;
    row-gap: 0;
    column-gap: 0;
    margin: 0;
    max-height: 75vh;
    overflow: auto;
}
.org-structure-tabs .control-panel-wrap .dropdown-menu .nav-link {
  padding: 10px;
  margin: 0;
  border-radius: 0;
}
.org-structure-tabs .control-panel-wrap .dropdown-menu .nav-link:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.org-structure-tabs .tab-pane .table-responsive {
  max-height: 61vh;
}
.org-structure-tabs .tab-content {
  padding: 10px;
}
.org-structure-tab-container {
  /* border: 0 !important; */
  box-shadow: none;
}

 /* :::::::::::: horizontal-tabs :::::::::::: */

.horizontal-tab-listing .horizontal-tab-menu {
  display: inline-flex;
  /* column-gap: 10px; */
}
.horizontal-tab-listing .horizontal-tab-menu .nav-link {
  border-radius: 0;
  border: 0 !important;
  /* color: var(--primary-color); */
  font-weight: 500;
  font-size: 13px;
  padding: 8px 15px;
  margin: 0;
}
.horizontal-tab-listing .horizontal-tab-menu .nav-link h5 {
  margin: 0;
  font-size: 14px;
}

.horizontal-tab-listing .horizontal-tab-menu .nav-link:first-child {
  border-top-left-radius: 6px;
}

.horizontal-tab-listing .horizontal-tab-menu .nav-link.active,
.horizontal-tab-listing .horizontal-tab-menu .nav-link:hover,
.horizontal-tab-listing .horizontal-tab-menu .nav-link:focus {
  background-color: var(--primary-color);
  color: var(--color-white);
  border-color: var(--primary-color);
}



.horizontal-tabs .horizontal-tab-content {
  width: 100%;
  padding: 0;
}








.horizontal-tab-listing .horizontal-tab-menu.horizontal-tab-child .nav-link:first-child {
  border-radius: 0;
}
.horizontal-tab-listing .horizontal-tab-menu.horizontal-tab-child li.nav-item:first-child .nav-link {
  border-top-left-radius: 6px;
}


/* 17-12-2024 */

.dropdown-mobile>.dropdown-menu{
  border: 0;
  padding:0;
  position: static !important;
  inset:inherit  !important;
  transform: inherit !important;
  background-color: transparent;
  
}
.dropdown-mobile>.dropdown-menu .nav-link{
  font-size: 14px;
  padding: 10px 16px;
}

}

 /* :::::::::::: horizontal-tabs END :::::::::::: */

 /* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
 
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

}



/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  .hero-image {
    display: flex;
  }
  .hero-image svg {
    width: min(520px, 100%);
    margin-left: auto;
  }
  .hero-content .inner {
    width: min(600px, 100%);
    margin: auto;
  }
  .kpi_page_details .image-text .header-actions .employee_top_info,
  .employee_details_content_info {
    grid-template-columns: 1fr;
}
/* .tab-content>.tab-pane {
  display: block;
  opacity: 1;
} */

/* .control-panel-wrap .dropdown-menu{
  border: 0;
  box-shadow: var(--stratroom-box-shadow) !important;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
}
.control-panel-wrap .dropdown-menu .nav-link{
  width: 100%;
  padding: 8px;
} */
/* .control-panel-tabs .tab-content {
  width: 100%;
  padding: 25px;
} */
/* .control-panel-menu .icon {
  width: 24px;
  height: 24px;
} */
.header-filter-list {
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 15px;
}
.kpi-data-form {
  width:60%;
  margin-left: auto;
  margin-right: auto;
  }


/* .permission-panel-warp .dropdown-menu{
  border: 0;
  box-shadow: var(--stratroom-box-shadow) !important;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
} */


/* 17-12-2024 */

.dropdown-mobile>.dropdown-menu{
  border: 0;
  box-shadow: var(--stratroom-box-shadow) !important;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
}
.dropdown-mobile>.dropdown-menu .nav-item{
  margin-bottom: 5px;
}
.dropdown-mobile>.dropdown-menu .nav-item:last-child{
  margin-bottom: 0;
}
.dropdown-mobile>.dropdown-menu .nav-link{
  width: 100%;
  padding: 8px;
  border: var(--stratroom-border-width) var(--stratroom-border-style) var(--stratroom-border-color) !important;
  border-radius: 5px;
  line-height: 1;
    font-size: 15px;
}
.dropdown-mobile>.dropdown-menu .nav-link.active, .dropdown-mobile>.dropdown-menu .nav-link:hover, .dropdown-mobile>.dropdown-menu .nav-link:active{
  background-color: var(--primary-color);
  color: var(--color-white);
}
.dropdown-mobile .dropdown-sub-mobile .nav-link:is(.dropdown-toggle){
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-mobile .dropdown-sub-mobile> .dropdown-menu{
  position: static;
  margin: 0;
  display: block;
  box-shadow: none !important;
  background: #f9f9f9;
  border: 1px solid #eee !important;
}


 }

 /* // `md` applies to small devices (landscape phones, 767px) */
@media (max-width: 767.98px) { 
  .kpi_page_details-content {
    grid-template-columns: 1fr;
}
.employee_details_content {
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.kpi_page_details .image-text .header-actions .employee_top_info,
.employee_details_content_info {
  grid-template-columns: auto 1fr;
}

/* .header-content-cards {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 14px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    
    "cd-1"
    "cd-2"
    "cd-3"
    "cd-4"
    "cd-5"
    "cd-6"
    "cd-7"
    "cd-8"
    "cd-9"
    "cd-10"
    "cd-11"
    "cd-12"
    "cd-13"
    "cd-14"
    "cd-15"
    "cd-16"
    "cd-17"
    "cd-18"
    "cd-19"
    ;
} */

.header-content-cards .header-content-title {
  text-align: center;
}
.header-filter-list {
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  margin-bottom: 15px;
}
.meeting-card {
  grid-template-columns: 1fr;
}
.meeting-details {
  padding: 16px;
}

.kpi-data-form {
  width:100%;
  margin-left: auto;
  margin-right: auto;
  }
  .risk_page_details-content .card-body {
    grid-template-columns: 1fr;
    row-gap: 20px;
}
.task-listing {
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0 auto;
}

}
 /* // `md` applies to small devices (landscape phones, 767px) END */


@media (max-width: 575.98px) { 
  .task-listing {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
    row-gap: 20px;
}

}




