.custom-card{
    // --stratroom-card-border-color: rgba(0, 0, 0, 0.05);
    // --stratroom-card-cap-bg:#fff;
    // --stratroom-card-bg:#fff;
     >.card-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap:.25rem;
    //   padding: 0.5rem;
      .card-title{
        font-size: 14px;
        margin-bottom: 0;
        strong{
          font-weight: 500;
        }
      }
      .badge {
        text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    --stratroom-badge-padding-y:0.45em;
      }
      .top_datepicker{
            font-size: 11px;
            width: 150px;
            min-height: auto;
            height: 24px;
            line-height: 1;
      }
      .heat-map{
        .form-select{
          font-size: 11px;
            width: 150px;
            min-height: auto;
            height: 24px;
            background-position:right .50rem center;
            background-size: 12px 10px;
            padding-right: 25px;
        }
      }
      .c-header-left{
        display: flex;
        flex: 1 1 auto;
        justify-content: space-between;
        align-items: center;
        gap:.25rem;
        @media (min-width: 768px) {
          flex-wrap: nowrap;
        }
        @media (max-width: 767.98px) {
          flex-wrap: wrap;
        }
        
      }
      .card-actions{
        // display: flex;
        // align-items: center;
        // gap: 0.25rem;
        // .btn-light{
        //   width: 24px;
        //   height: 24px;
        //   display: inline-flex;
        //   justify-content: center;
        //   align-items: center;
        // }
        display: flex;
        align-items: center;
        column-gap: 0.25rem;
    
        .btn {
          &.btn-sm {
            --#{$prefix}btn-padding-x: 0;
            --#{$prefix}btn-padding-y: 0;
            --#{$prefix}btn-font-size: 12px;
            min-width: var(--#{$prefix}btn-width);
            min-height: var(--#{$prefix}btn-height);
          }
        }
    
        .btn-outline-icon, .btn-icon{
          --#{$prefix}btn-color: var(--#{$prefix}body-color);
          line-height: 1;
          gap: 0;
    
          :is(.icon) {
            font-size: 11px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: var(--#{$prefix}btn-icon-width);
            min-height: var(--#{$prefix}btn-icon-height);
    
            img {
              object-fit: contain;
              max-width: 100%;
            }
          }
    
          :is(.btn-text) {
            padding: 0.35rem;
          }
    
          .icon~.btn-text {
            padding-left: 0;
            padding-right: 0.5rem;
          }
        }

       }
       .form-control{
        border-color: rgba(0, 0, 0, 0.05);
       }
     }
     .card-body{
    //   padding: .5rem;
     }
  }

  .custom-card-tab{
    >.card-header{
      display: flex;
      justify-content: space-between;
      // align-items: center;
      gap:.25rem;
      padding: 0;
    //   padding: 0.5rem;
      .card-title{
        font-size: 14px;
        margin-bottom: 0;
        strong{
          font-weight: 500;
        }
      }
      .badge {
        text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    --stratroom-badge-padding-y:0.45em;
      }
      .top_datepicker{
            font-size: 11px;
            width: 150px;
            min-height: auto;
            height: 24px;
            line-height: 1;
      }
      .heat-map{
        .form-select{
          font-size: 11px;
            width: 150px;
            min-height: auto;
            height: 24px;
            background-position:right .50rem center;
            background-size: 12px 10px;
            padding-right: 25px;
        }
      }
      .c-header-left{
        display: flex;
        flex: 1 1 auto;
        justify-content: space-between;
        // align-items: center;
        gap:.25rem;
     
        @media (min-width: 768px) {
          flex-wrap: nowrap;
        }
        @media (max-width: 767.98px) {
          flex-wrap: wrap;
        }
        
      }
      .card-actions{
        // display: flex;
        // align-items: center;
        // gap: 0.25rem;
        // .btn-light{
        //   width: 24px;
        //   height: 24px;
        //   display: inline-flex;
        //   justify-content: center;
        //   align-items: center;
        // }
        display: flex;
        align-items: center;
        column-gap: 0.25rem;
        padding: 8px;
    
        .btn {
          &.btn-sm {
            --#{$prefix}btn-padding-x: 0;
            --#{$prefix}btn-padding-y: 0;
            --#{$prefix}btn-font-size: 12px;
            min-width: var(--#{$prefix}btn-width);
            min-height: var(--#{$prefix}btn-height);
          }
        }
    
        .btn-outline-icon, .btn-icon{
          --#{$prefix}btn-color: #000;
          line-height: 1;
          gap: 0;
    
          :is(.icon) {
            font-size: 11px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: var(--#{$prefix}btn-icon-width);
            min-height: var(--#{$prefix}btn-icon-height);
    
            img {
              object-fit: contain;
              max-width: 100%;
            }
          }
    
          :is(.btn-text) {
            padding: 0.35rem;
          }
    
          .icon~.btn-text {
            padding-left: 0;
            padding-right: 0.5rem;
          }
        }

       }
       .form-control{
        border-color: rgba(0, 0, 0, 0.05);
       }
     }
     .card-body{
    //   padding: .5rem;
     }
  }

  .custom-card-column{
    >.card-header-form{
         display: grid;
          grid-template-columns: repeat(auto-fit, minmax(min(120px, 100%), 1fr));
          gap: 0.5rem;
          align-items: center;
          width: 100%;
          text-align: center;
          // padding: 0.5rem;
    }
  }


  .table-actions{
  
    display: flex;
    align-items: center;
    column-gap: 0.25rem;

    .btn {
      &.btn-sm {
        --#{$prefix}btn-padding-x: 0;
        --#{$prefix}btn-padding-y: 0;
        --#{$prefix}btn-font-size: 12px;
        min-width: var(--#{$prefix}btn-width);
        min-height: var(--#{$prefix}btn-height);
      }
    }

    .btn-outline-icon, .btn-icon{
      --#{$prefix}btn-color: #000;
      line-height: 1;
      gap: 0;

      :is(.icon) {
        font-size: 11px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: var(--#{$prefix}btn-icon-width);
        min-height: var(--#{$prefix}btn-icon-height);

        img {
          object-fit: contain;
          max-width: 100%;
        }
      }

      :is(.btn-text) {
        padding: 0.35rem;
      }

      .icon~.btn-text {
        padding-left: 0;
        padding-right: 0.5rem;
      }
    }

   }

   .list-actions{
    display: flex;
    // align-items: center;
    column-gap: 0.25rem;

    .btn {
      &.btn-sm {
        --#{$prefix}btn-padding-x: 0;
        --#{$prefix}btn-padding-y: 0;
        --#{$prefix}btn-font-size: 12px;
        min-width: var(--#{$prefix}btn-width);
        min-height: var(--#{$prefix}btn-height);
      }
    }

    .btn-outline-icon, .btn-icon{
      --#{$prefix}btn-color: var(--#{$prefix}body-color);
      line-height: 1;
      gap: 0;

      :is(.icon) {
        font-size: 11px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: var(--#{$prefix}btn-icon-width);
        min-height: var(--#{$prefix}btn-icon-height);

        img {
          object-fit: contain;
          max-width: 100%;
        }
      }

      :is(.btn-text) {
        padding: 0.35rem;
      }

      .icon~.btn-text {
        padding-left: 0;
        padding-right: 0.5rem;
      }
    }
   }