.permission-section {
    padding: 0.5rem;
    display: grid;
    gap: 1.3rem;

    @media (max-width: 991.98px) {
        grid-template-columns: 100%;
    }

    @media (min-width: 992px) {
        grid-template-columns: 22% 1fr;
    }
}

.permission-panel-warp {
    background-color: rgba(var(--#{$prefix}primary-rgb), .1);
    padding: 0.8rem;
    border-radius: var(--#{$prefix}border-radius);

    .dropdown-menu {
        @media (min-width: 992px) {
            display: block;
            border: 0;
            padding: 0;
            position: static !important;
            inset: inherit !important;
            transform: inherit !important;
            background-color: transparent;
        }

        @media (max-width: 991.98px) {

            border: 0;
            box-shadow: var(--stratroom-box-shadow) !important;
            padding: 10px;
            max-height: 200px;
            overflow-y: auto;

        }
    }


}


.permission-tab-menu {
    .nav-item {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }

        .nav-link {
            // --#{$prefix}nav-link-not-active: #{mix(white, var(--stratroom-primary), 84%)};
            --#{$prefix}nav-link-not-active: color-mix(in srgb, white 84%, var(--stratroom-primary));
            padding: 10px;
            border-radius: 6px;
            line-height: 1;
            font-size: 13px;

            @media (max-width: 991.98px) {
                border: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color) !important;
            }

            &.active {
                background-color: var(--#{$prefix}primary);
                color:var(--#{$prefix}white)
            }

            &:not(.active) {
                &:hover {
                    background-color: var(--#{$prefix}nav-link-not-active);
                    color:var(--#{$prefix}primary)
                }
            }

        }
    }

    .nav-title {
        font-size: 12px;
        padding-bottom: 0.5rem;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.2px;
    }

    .dropdown-divider {
        --stratroom-dropdown-divider-bg: var(--sr-gray-600);
        --stratroom-dropdown-divider-margin-y: 15px;
    }
}


.permission-menu-box {
    border-bottom: 1px solid var(--sr-gray-600);
    margin-bottom: 15px;
    padding-bottom: 15px;

    &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .title {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .role-list {
        list-style: none;
        display: grid;
        margin: 0;
        column-gap: 0;
        padding: 0;

        li {
            display: block;

            a {
                text-decoration: none;
                line-height: normal;
                padding: 10px;
                width: 100%;
                display: block;
                border-radius: 10px;

                &:hover,
                &:focus,
                &:active,
                &.active {
                    background-color: var(--primary-color);
                    color: var(--color-white);
                }
            }
        }
    }
}


.permission-box {
    .title {
        margin-bottom: 0;

        a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
            background-color: var(--sr-gray-50);
            display: block;
            padding: 10px;
            border: 1px solid var(--sr-gray-600);
            color: var(--primary-color);
            text-align: left;
        }
    }
}

.permission-box {
    .card-body {
        padding-left: 0;
        padding-right: 0;
        padding-top: 5px;
        padding-bottom: 0;
    }
}

.accordionPermission {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .accordion-item {
        border: 0;
    }

    .accordion-button {
        --#{$prefix}accordion-active-bg: color-mix(in srgb, white 84%, var(--#{$prefix}primary));
        --#{$prefix}accordion-btn-padding-x: 0.5rem;
        --#{$prefix}accordion-btn-padding-y: 0.5rem;
        --#{$prefix}accordion-btn-icon-width: 1rem;
        --#{$prefix}accordion-btn-bg: var(--#{$prefix}accordion-active-bg);
        --#{$prefix}accordion-btn-color:var(--#{$prefix}primary);
        --#{$prefix}accordion-active-color:rgba(var(--#{$prefix}primary-contrast-rgb), 0.7);
        font-weight: 500;
        font-size: 13px;

        .icon {
            margin-right: 0.5rem;
        }

    }

    .accordion-body {
        --#{$prefix}accordion-body-padding-x: 0;
        --#{$prefix}accordion-body-padding-y: 0;
    }
}




.control-panel-tabs {
    .control-panel-wrap {
        @media (max-width: 991.98px) {
            width: 100%;
            border-bottom: 1px solid var(--#{$prefix}border-color)
        }

        >.dropdown-toggle {
            border-radius: 0;
            border-top-left-radius: 0.375rem;
        }

        @media (min-width: 992px) {
            // width: 25%;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            padding: 0.8rem;
            // background-color: rgba(var(--#{$prefix}primary-rgb), .1);
            background: color-mix(in srgb,
                    var(--stratroom-primary-contrast) 90%,
                    var(--stratroom-primary));
        }

        .dropdown-menu {
            .nav-link {
                // --#{$prefix}nav-link-not-active: #{mix(white, $primary, 75%)};
                // --#{$prefix}nav-link-border: #{mix(white, $primary, 80%)};
                // --#{$prefix}nav-link-bg: #{mix(white, $primary, 84%)};
                padding: 10px;
                border-radius: 6px;
                line-height: 1;
                font-size: 13px;
                display: flex;
                align-items: center;
                gap: 6px;
                border: 1px solid var(--#{$prefix}nav-link-border);

                @media (min-width: 992px) {
                    font-weight: 500;
                    // background-color: var(--#{$prefix}nav-link-bg);
                     background: color-mix(in srgb,
                             var(--#{$prefix}primary-contrast) 80%,
                            var(--#{$prefix}primary));
                    color: color-mix(in srgb,
                             var(--#{$prefix}primary-contrast) 0%,
                            var(--#{$prefix}primary));



// color:var(--stratroom-primary-contrast);

                    flex-direction: column;
                    justify-content: center;
                }

                @media (max-width: 991.98px) {
                    margin-bottom: 0.4rem;
                    width: 100%;
                    padding: 8px;
                }

                .icon {
                    border-radius: 50rem;
                   // background-color: rgba(var(--#{$prefix}white-rgb), .7);
                    background: color-mix(in srgb,
                             var(--stratroom-primary-contrast) 100%,
                            var(--stratroom-primary));

                    @media (max-width: 991.98px) {
                        block-size: 1.4rem;
                        inline-size: 1.4rem;
                        padding: 0.2rem;
                    }

                    @media (min-width: 992px) {
                        block-size: 1.6rem;
                        inline-size: 1.6rem;
                        padding: 0.3rem;
                    }

                    img {
                        max-width: 100%;
                        object-fit: contain;
                    }
                }

                .nav-text {
                    line-height: 1.3;
                }

                &.active {
                    background-color: var(--#{$prefix}primary);
                    color:var(--#{$prefix}primary-contrast);


                    .icon {
                         background-color: rgba(var(--#{$prefix}primary-contrast-rgb), 1);
                          color: color-mix(in srgb,
                             var(--stratroom-primary-contrast) 0%,
                            var(--stratroom-primary));
                    }
                }

                &:not(.active) {
                    &:hover {
                        // background-color: var(--#{$prefix}nav-link-not-active);
                        // color:var(--#{$prefix}primary-contrast);

                        .icon {
                            // background-color: rgba(var(--#{$prefix}primary-contrast-rgb), .5);
                        }
                    }
                }
            }

            @media (max-width: 991.98px) {
                border: 0;
                box-shadow: var(--stratroom-box-shadow) !important;
                padding: 10px;
                max-height: 200px;
                overflow-y: auto;
            }

            @media (min-width: 992px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 0.5rem;
                border: 0;
                padding: 0;
                position: static !important;
                inset: inherit !important;
                transform: inherit !important;
                background-color: transparent;
            }
        }

    }

    .tab-content {
        @media (max-width: 991.98px) {
            width: 100%;
            padding: 1rem;
        }

        @media (min-width: 992px) {
            padding: 1rem;
        }

    }
}