.user-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;

    .user-image {
        --#{$prefix}avatar-size: 2.5rem;
        --#{$prefix}avatar-group-border: var(--bs-paper-bg);
        --#{$prefix}avatar-initial-inline: 3px;
        --#{$prefix}avatar-initial-bg: #eeedf0;
        block-size: var(--#{$prefix}avatar-size);
        inline-size: var(--#{$prefix}avatar-size);
        border-radius: 50rem;
        // overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            block-size: 100%;
            inline-size: 100%;
            object-fit: cover;
            border-radius: 50%;
        }

        .img-initial {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--#{$prefix}avatar-initial-bg);
            color: var(--#{$prefix}primary);
            font-size: var(--#{$prefix}avatar-initial);
            font-weight: 500;
            inset: 0;
            text-transform: uppercase;
        }

        &.user-active,
        &.user-inactive {
            &::after {
                position: absolute;
                border-radius: 100%;
                block-size: calc(var(--#{$prefix}avatar-size)*.2);
                box-shadow: 0 0 0 2px var(--#{$prefix}white);
                content: "";
                inline-size: calc(var(--#{$prefix}avatar-size)*.2);
                inset-block-end: 0;
                inset-inline-end: var(--#{$prefix}avatar-initial-inline)
            }

            &.user-active {
                &::after {
                    background-color: var(--#{$prefix}success);
                }
            }

            &.user-inactive {
                &::after {
                    background-color: var(--#{$prefix}danger);
                }
            }

        }
    }

    .user-image-sm {
        --#{$prefix}avatar-size: 2rem;
        --#{$prefix}avatar-initial: 0.8125rem;
        --#{$prefix}avatar-initial-inline: 2px;
    }
    .user-image-lg {
        --#{$prefix}avatar-size: 3.5rem;
        // --#{$prefix}avatar-initial: 0.8125rem;
        --#{$prefix}avatar-initial: 1.5rem;
        --#{$prefix}avatar-initial-inline: 2px;
    }
    .user-image-xl{
        --#{$prefix}avatar-size: 4.5rem;
        // --#{$prefix}avatar-initial: 0.8125rem;
        --#{$prefix}avatar-initial: 2rem;
        --#{$prefix}avatar-initial-inline: 3px;
    }

    .text-heading {
        margin-bottom: 0;
        font-size: 0.875rem;
    }

    small {
        font-size: 0.75rem;
        opacity: 0.8;
    }
}



.logo-card {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;

    .user-image {
        --#{$prefix}avatar-size: 2.5rem;
        --#{$prefix}avatar-group-border: var(--bs-paper-bg);
        --#{$prefix}avatar-initial-inline: 3px;
        --#{$prefix}avatar-initial-bg: #eeedf0;
        block-size: var(--#{$prefix}avatar-size);
        inline-size: var(--#{$prefix}avatar-size);
        border-radius: 50rem;
        // overflow: hidden;
        border: 1px solid rgba(var(--#{$prefix}contrast-border), 0.03);
        background-color: rgba(var(--#{$prefix}body-color-rgb), 0.02) ;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            block-size: 100%;
            inline-size: 100%;
            object-fit: contain;
            border-radius: 50%;
        }

        .img-initial {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--#{$prefix}avatar-initial-bg);
            color: var(--#{$prefix}white);
            font-size: var(--#{$prefix}avatar-initial);
            font-weight: 500;
            inset: 0;
            text-transform: uppercase;
        }

        &.user-active,
        &.user-inactive {
            &::after {
                position: absolute;
                border-radius: 100%;
                block-size: calc(var(--#{$prefix}avatar-size)*.2);
                box-shadow: 0 0 0 2px var(--#{$prefix}white);
                content: "";
                inline-size: calc(var(--#{$prefix}avatar-size)*.2);
                inset-block-end: 0;
                inset-inline-end: var(--#{$prefix}avatar-initial-inline)
            }

            &.user-active {
                &::after {
                    background-color: var(--#{$prefix}success);
                }
            }

            &.user-inactive {
                &::after {
                    background-color: var(--#{$prefix}danger);
                }
            }

        }
    }

    .user-image-sm {
        --#{$prefix}avatar-size: 2rem;
        --#{$prefix}avatar-initial: 0.8125rem;
        --#{$prefix}avatar-initial-inline: 2px;
    }
    .user-image-lg {
        --#{$prefix}avatar-size: 3.5rem;
        --#{$prefix}avatar-initial: 0.8125rem;
        --#{$prefix}avatar-initial-inline: 2px;
    }
    .user-image-xl{
        --#{$prefix}avatar-size: 4.5rem;
        --#{$prefix}avatar-initial: 0.8125rem;
        --#{$prefix}avatar-initial-inline: 3px;
    }

    .text-heading {
        margin-bottom: 0;
        font-size: 0.875rem;
    }

    small {
        font-size: 0.75rem;
        opacity: 0.8;
    }
}

.banner-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;

    .user-image {
        --#{$prefix}avatar-size: 2.5rem;
        --#{$prefix}avatar-group-border: var(--bs-paper-bg);
        --#{$prefix}avatar-initial-inline: 3px;
        --#{$prefix}avatar-initial-bg: #eeedf0;
        block-size: var(--#{$prefix}avatar-size);
        inline-size: var(--#{$prefix}avatar-size);
        // border-radius: 50rem;
        // overflow: hidden;
        border: 1px solid rgba(var(--#{$prefix}black-rgb) 0.3);
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            block-size: 100%;
            inline-size: 100%;
            object-fit: contain;
            // border-radius: 50%;
        }

        .img-initial {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--#{$prefix}avatar-initial-bg);
            color: var(--#{$prefix}white);
            font-size: var(--#{$prefix}avatar-initial);
            font-weight: 500;
            inset: 0;
            text-transform: uppercase;
        }

        &.user-active,
        &.user-inactive {
            &::after {
                position: absolute;
                border-radius: 100%;
                block-size: calc(var(--#{$prefix}avatar-size)*.2);
                box-shadow: 0 0 0 2px var(--#{$prefix}white);
                content: "";
                inline-size: calc(var(--#{$prefix}avatar-size)*.2);
                inset-block-end: 0;
                inset-inline-end: var(--#{$prefix}avatar-initial-inline)
            }

            &.user-active {
                &::after {
                    background-color: var(--#{$prefix}success);
                }
            }

            &.user-inactive {
                &::after {
                    background-color: var(--#{$prefix}danger);
                }
            }

        }
    }

    .user-image-sm {
        --#{$prefix}avatar-size: 2rem;
        --#{$prefix}avatar-initial: 0.8125rem;
        --#{$prefix}avatar-initial-inline: 2px;
    }
    .user-image-lg {
        --#{$prefix}avatar-size: 3.5rem;
        --#{$prefix}avatar-initial: 0.8125rem;
        --#{$prefix}avatar-initial-inline: 2px;
    }
    .user-image-xl{
        --#{$prefix}avatar-size: 4.5rem;
        --#{$prefix}avatar-initial: 0.8125rem;
        --#{$prefix}avatar-initial-inline: 3px;
    }

    .text-heading {
        margin-bottom: 0;
        font-size: 0.875rem;
    }

    small {
        font-size: 0.75rem;
        opacity: 0.8;
    }
}